name: Main workflow
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - develop
      - release
      - master
    types: [opened, synchronize]
jobs:
  list:
    name: List EC2
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure AWS credentials
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region ${{ secrets.AWS_REGION }}
      - name: list EC2
        run: |
          aws ec2 describe-instances --instance-ids i-028d6de4c222619ec
  start:
    name: start EC2
    runs-on: ubuntu-latest
    needs: list
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure AWS credentials
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region ${{ secrets.AWS_REGION }}
      - name: start EC2
        run: |
          aws ec2 start-instances --instance-ids i-028d6de4c222619ec
  trigger:
    runs-on: ubuntu-latest
    needs: start
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure AWS credentials
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region ${{ secrets.AWS_REGION }}
      - name: trigger
        env:
            AWS_EC2_SSH_PRIVATE_KEY: ${{ secrets.AWS_EC2_SSH_PRIVATE_KEY }}
            AWS_EC2_SSH_HOST: ${{secrets.AWS_EC2_SSH_HOST}}
            AWS_EC2_SSH_USER: ${{secrets.AWS_EC2_SSH_USER}}
        run: |
          echo "$AWS_EC2_SSH_PRIVATE_KEY" > private_key && chmod 600 private_key
          # ssh -tt -o StrictHostKeyChecking=no -i private_key ${AWS_EC2_SSH_USER}@${AWS_EC2_SSH_HOST}
          ssh -tt -o StrictHostKeyChecking=no -i private_key ubuntu@10.0.49.72
  do:
    runs-on: self-hosted
    needs: trigger
    steps:
      - uses: actions/checkout@v3
      - name: Run a one-line script
        run: |
          echo 'Hello World!'
  stop:
    name: stop EC2
    runs-on: ubuntu-latest
    needs: do
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Configure AWS credentials
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region ${{ secrets.AWS_REGION }}
      - name: stop EC2
        run: |
          aws ec2 stop-instances --instance-ids i-028d6de4c222619ec
